
*{
font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}
.container1{
    width:100%;
    display:grid;
    grid-template-columns: auto;
    justify-content: center;
    opacity: 0;
    animation: fadeContainer 1.2s ease-out forwards;
    margin-top: 10vh;
}

/* .image{
    margin-top: 150px;
    margin-left: 70px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(224, 186, 228);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
    opacity: 0;
    animation: popImage 1s ease-out forwards;
    animation-delay: 0.3s;
}

.image img{
    width: 110%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 20px rgb(77, 77, 75));
} */

.name{
    margin:auto;
    /* cursor: url("./images/cursor1.png"),auto; */
    /* margin-left: 300px; */
    opacity: 0;
    animation: slideText 1s ease-out forwards;
    animation-delay: 0.6s;
}

.name h1{
    text-align: left;
    font-size:60px;
    margin-top: 150px;
    color: rgb(197, 183, 236);
    text-shadow: 5px 5px 20px rgb(77, 77, 75);
    transition: transform 0.4s ease, color 0.4s ease;
}

.name h1:hover{
    transform: translateX(6px);
}

.name span{
    font-size:50px;
    color: rgba(158, 163, 242, 0.788);
}

.name p{
    color:white;
    font-size: 20px;
    margin-top:15px;
    margin-bottom: 40px;
    transition: transform 0.4s ease;
}

.name p:hover{
    transform: translateX(4px);
}

.button1{
    display:grid;
    grid-template-columns: auto auto;
    margin-top: -350px;
}

.button1 a{
    text-decoration: none;
    color: white;
}

.next{
    display:inline;
    width:180px;
    /* border: 1px solid white; */
    text-align: center;
    padding:15px;
    border-radius: 50px;
    margin-top: 350px;
    margin-bottom: 50px;
    background-color: transparent;
    color:rgb(9, 9, 9);
    transition:background-color 0.5s ease,color 0.5s ease,transform 0.4s ease,box-shadow 0.4s ease;
}

.next:hover{
    background-color:rgb(10, 10, 10);
    color:white;
    border:none;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}


@keyframes fadeContainer {
    to {
        opacity: 1;
    }
}

@keyframes popImage {
    from {
        opacity: 0;
        transform: scale(0.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideText {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (min-width:516px) and (max-width:863px){
    
    .image{
        height:150px;
        width:150px;
        margin-left:50px;
    }

    .name h1{
        font-size:55px;
        margin-right: 30px;
    }

    .name span{
        font-size:30px;
    }

    .name p{
        font-size:15px;
    }

    .next{
        width:90px;
        padding:5px;
    }
}

@media screen and (max-width:518px){
    .container1{
        margin-top: 10px;
    }

    .name{
        margin-left:0;
    }

    .name h1{
        
        font-size:45px;
    }

    .name span{
        font-size:30px;
    }

    .name p{
        font-size:15px;
    }

    .button1{
        justify-content:end;
    }

    .next{
        width:90px;
        padding:5px;
    }
}
