*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    cursor:default;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
}

body {
    background:linear-gradient(135deg,#454547,#4b4bbb,#090912,#05050a);
    background-attachment: fixed;
}

span{
    color:#4b99bb
}

nav{
    background-color: #8770e636;
    width:96%;
    border-radius:40px;
    position: fixed;
    top:10px;
    margin-left:2vw;
    z-index: 2;
}

.header-name{
    display: inline-block;
    margin-top: 30px;
    color:rgb(248, 247, 247);
    margin-left: 30px;
    margin-bottom:30px;
}

.navbar{
    width:100%;
    display: flex;
    justify-content: right;
}

.list-items{
    list-style: none;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: right;
    column-gap: 20px;
    margin-right:50px;
    margin-top: -60px;
    margin-bottom:30px;
}

.list-items a{
    color:white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.list-items a:hover{
    font-weight: bolder;
    color:#7b7be6;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}


/*todo:- Responsive */
@media screen and (min-width:720px) and (max-width:787px){
    .header-name h1{
    font-size:30px;
    }

    .list-items a{
    font-size: medium;
    font-weight: bold;
}
}

@media screen and (min-width:637px) and (max-width:720px){

    .header-name h1{
    font-size:25px;
    }

     .list-items a{
    font-size:small;
    font-weight: bold;
}
}

@media screen and (max-width:637px){

    .header-name h1{
        text-align: center;
        font-size:25px;
        margin-left:-30px;
    }

    nav{
        position: static;
        display:grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    .header-name h1{
    font-size:40px;
    }

     .list-items a{
    font-size:large;
    font-weight: bold;
    margin-right: 50px;
    }

    .list-items{
        grid-template-columns: auto;
        margin-top:0px;
        text-align: center;
    }

    .list-items li{
        padding:10px;
    }
}