.container3{
    margin-top: 15vh;
}

.projects h1{
    margin-top: 10px;
    color:white;
    font-size:40px;
    text-align: center;
}


.proj-card1{
    margin:2vw auto;
    width:40%;   
    border-radius: 10px; 
    background-color: rgba(147, 143, 247, 0.134);
    padding: 30px;
    
}

code{
    color:white;
}

.proj-card1:hover{
    transition: all .5s ease-in-out;
    transform:scale(1.1) ;
}

.prog{
    display: inline;
    padding:5px;
    text-align: center;
    background-color: rgba(4, 250, 37, 0.282);
    border-radius:50px;
    margin-top: 20px;   
    color:rgba(255, 255, 255, 0.445);
}

.name1{
    display: inline;
    padding:5px;
    text-align: center;
    background-color: rgba(247, 251, 251, 0.282);
    border-radius:50px; 
}

.projp{
    margin-top: 21px;
    margin-bottom: 10px;
    color:white;
    text-align: justify;
}

.proj-card1 h1{
    text-align:left;
    color: rgba(174, 171, 253, 0.771);
    margin-bottom: 20px;
}

.proj-card1 a{
    text-decoration: none;
}

@media screen and (min-width:710px) and (max-width:820px){
    .proj-card1 h1{
        font-size: 25px;
    }
    .proj-card1 p{
        font-size: 15px;
    }
    .name1{
        font-size: 12px;
    }
    .prog{
        font-size: 15px;
    }
}

@media screen and (max-width:710px){
    .proj-card1{
    margin:2vw auto;
    width:80%;   
    }

    .proj-card1 h1{
        font-size: 25px;
    }
    .proj-card1 p{
        font-size: 15px;
    }
    .name1{
        font-size: 12px;
        gap:10px;
    }
    .prog{
        font-size: 15px;
    }

}